<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadJSONFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <DownloadJSONFile.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>C:\HL7\JsonData\</value>
            </setting>
            <setting name="AdmissionUrl" serializeAs="String">
                <value>http://10.65.1.184:777/pyxis/medes/adt/admission</value>
            </setting>
            <setting name="OrderAddUrl" serializeAs="String">
                <value>http://10.65.1.184:777/pyxis/medes/order/add</value>
            </setting>
            <setting name="SourceAdmissionUrl" serializeAs="String">
                <value>http://10.68.82.25:3000/pyxis/medes/adt/admission</value>
            </setting>
            <setting name="SourceOrderAddUrl" serializeAs="String">
                <value>http://10.68.82.25:3000/pyxis/medes/order/add</value>
            </setting>
        </DownloadJSONFile.Properties.Settings>
    </applicationSettings>
</configuration>